body{
    // background-image: url(../Imagenes/25865441-fondo-de-la-textura-de-cuero-beige-claro-con-dibujos-de-imitación.webp);
    background-color: #E8E6DA;
    overflow-y: hidden;
    background-attachment: fixed;
    position: sticky;
    top: 0;
}
  
.contador {
    background-color: $keyColor;
    color: red;
    font-size: $textSm;
    font-weight: $fontP;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}

.h-video{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    video{
        width: 60%;
    }
}

.cajas{
    color: $mainColor;
    font-size: $textMd1;
    margin-top: 20px;
}  
.qa {
    overflow-y: hidden;
    width: 80%;
    margin: auto;
    margin-top: 10px;
  
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      div{
        flex-direction: row;
        align-items: center;
        .check {
            width: 30px;
            color: $secondaryColor;
            align-self: flex-start;
            margin-right: 0.5rem;
          }
      
          p {
            width: 90%;
            font-size: $textSm-1;
            margin-bottom: 10px;
          }
      }
    }
  }

.cajas-1{
    margin-top: 25px;
    font-size: $textMd1;
    margin-bottom: 20px;
    color: $mainColor;
    span{
        color: $secondaryColor;
    }
}
.container{
    figure{
        img{
            width: 80%;
        }
        .nombre-fig{
            color: $mainColor;
            margin-top: 5px;
            font-size: $textSm-1;
            font-weight: $fontQ;
        }
        .description{
                color: $secondaryColor;
                width: 80%;
                margin: auto;
                margin-bottom: 15px;
            }
        .precio-tachado{
            text-decoration: line-through;
            color: $mainColor;
            font-size: $textSm-1;
            margin-top: -8px;
        }
        .precio-descuento{
            color: $mainColor;
            font-size: $textSm-1;
            margin-top: -10px;
         }
        }
}


.materiales{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

h2{
    color: $secondaryColor;
    text-shadow: 1px 1px 1px black;
    font-size: $textLg-1;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: hidden;

}

.accordion{
    width: 80%;
    margin: auto;
    .accordion-item{
        .accordion-header{
            button{
                color: $mainColor;
                font-size: $textMd1;
                background-color: $keyColor;
            }
        }
        div{
            background-color: $keyColor;
            div{
                p{
                    margin-top: 10px;
                    color: $mainColor;
                    span{
                        color: $mainColor;
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }
            .accordion-body{
                font-size: $textSm;                
                p{
                    color: $mainColor;
                    .first-line{
                        color: $secondaryColor;
                        text-shadow: .5px .5px .5px black;
                    }
                    
                }
            }
            .imagen-certificado{
                width: 50%;
                margin: auto;
            }
        }
    }
}

.accordion-body .figure-img {
    max-width: 70%;
    height: auto;
  }
.h1-index{
    background-color: #E8E6DA;
    text-align: center;
    font-weight: $fontQ;
    color: $mainColor;
    font-size: $textXl;
    // text-shadow: 2px 2px 2px #000;
    span{
        color: $secondaryColor;
    }
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.carrousel-box{
    background-color: rgba(128, 128, 128, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    .carousel{
        width: 68%;
        margin: auto;
    }
}

.certificados{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    margin: auto;
    background-color: $keyColor;
    .garantia{
        width: 30%;
    }
    .compra-segura{
        width: 40%;
    }
}

.h4-recomendaciones{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: $textLg-1;
    margin-top: 40px;
    margin-bottom: 20px;
    overflow-y: hidden;
    color: $mainColor;
}
.figuras{
    background-color: $secondaryColor;
    padding: 20px 20px 20px 20px;
    figcaption{
        color: $mainColor;
        font-size: $textSm-1;
    }
    .banderas{
        img{
            width: 8%;
            margin-top: 15px;
        }
        p{
            display: inline-flex;
            color: $mainColor;
            font-size: $textSm;
            margin-left: 15px;
        }
    }

}

.h2-preguntas{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.accordion-preguntas{
    width: 70%;
}

.div-pago{
    display: flex;
    width: 70%;
    background-color: $mainColor;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    h4{
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: $textLg-1;
        margin-top: 40px;
        margin-bottom: 20px;
        overflow-y: hidden;
        color: $secondaryColor;
    }
    .boton-pago {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      
        p {
          font-size: $textMd;
          width: 80%;
          margin: auto;
          color: $keyColor;
          margin-top: 15px;
        }
      
        .inscribirme-btn {
          width: 50%;
          background-color: orangered;
          color: $mainColor;
          border-color: $keyColor;
          margin-top: 10px;
          margin-bottom: 15px;
          font-size: $textMd;
        }
      }
}

.figure-pago{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}




  
  




  

