@media (min-width: 768px) and (max-width: 1200px){
    .div-pago{
        display: flex;
        width: 90%;
        background-color: $mainColor;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        h4{
            width: 80%;
            margin: auto;
            text-align: center;
            font-size: $textLg;
            margin-top: 40px;
            margin-bottom: 20px;
            overflow-y: hidden;
            color: $secondaryColor;
        }
        .boton-pago {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
          
            p {
              font-size: $textSm1;
              width: 80%;
              margin: auto;
              color: $keyColor;
              margin-top: 15px;
            }
          
            .inscribirme-btn {
              width: 35%;
              background-color: orangered;
              color: $mainColor;
              border-color: $keyColor;
              margin-top: 10px;
              margin-bottom: 15px;
              font-size: $textMd;
            }
          }
    }

}
@media (width < 1100px) {
    .Frase-motivacional{
        font-size: $textSm1;
        width: 85%;
    }
    
}
@media (width > 768px){
    .qa {
        width: 80%;
        margin: auto;
        margin-top: 10px;
      
        div {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 1rem;
          div{
            flex-direction: row;
            width: 40%;
            flex-wrap: nowrap;
            margin: auto;
            margin-top: 15px;
            justify-content: center;
            .check {
                width: 45px;
                color: $secondaryColor;
                align-self: flex-start;

                margin-right: 0.5rem;
              }
          
              p {
                margin: 0;
                margin-bottom: 15px;
              }
          }
        }
      }

      .container{
        figure{
            img{
                width: 80%;
            }
            .nombre-fig{
                color: $mainColor;
                margin-top: 5px;
                font-size: $textSm;
            }
            .description{
                    color: $secondaryColor;
                    width: 80%;
                    margin: auto;
                    margin-bottom: 15px;
                    font-size: $textSm-1;
                }
            }
    }
      
}
@media (width < 768px) {
    .h-video{
        video{
            width: 75%;
        }
    }
    .h1-index{
        font-size: $textLg;
    }
    .Frase-motivacional{
        font-size: $textSm;
        width: 90%;
    }
    .certificados{
        flex-direction: column;
        
        .garantia{
            width: 70%;
            margin-top: -20px;
        }
        .compra-segura{
            width: 70%;
            margin-bottom: 20px;
        }
    }
    .carrousel-box{
        .carousel{
            width: 80%;
    
        }
    }
    .figuras{
        width: 80%;
        margin: 10px auto;

    }

    .div-pago{
    flex-direction: column;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 30px;
    h4{
        width: 90%;
        font-size: $textLg-1;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .boton-pago {
        flex-direction: column;
        p {
          font-size: $textSm1;
          width: 95%;
          margin-top: 15px;
        }
      
        .inscribirme-btn {
          width: 60%;
          margin-top: 20px;
          margin-bottom: 35px;
          font-size: $textMd1;
        }
      }
      
    }

}
@media (width < 450px) {
    .h-video{
        video{
            width: 90%;
        }
    }
}
@media (width < 320px) {
    .h-video{
        video{
            width: 95%;
        }
    }
    .h1-index{
        font-size: $textLg;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Frase-motivacional{
        font-size: $textSm-1;
    }
    .certificados{
        width: 80%;
    }
    .div-pago{
        flex-direction: column;
        width: 80%;
        h4{
            width: 90%;
            font-size: $textLg;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .boton-pago {
            flex-direction: column;
            p {
              font-size: $textSm;
              width: 95%;
              margin-top: 15px;
            }
          
            .inscribirme-btn {
              width: 60%;
              margin-top: 20px;
              margin-bottom: 35px;
              font-size: $textMd;
            }
          }
          
        }
    
    .h4-recomendaciones{
        font-size: $textMd1;
    }

}