.botonera {
  background-color: $mainColor;
  margin-top: -20px;

  img {
    width: 180px;
    margin-bottom: -20px;
    display: block;
  }

  .navbar-brand {
    overflow: hidden;
  }

  .nav-link {
    color: $keyColor;
    font-size: 1.8rem;
    margin-right: 20px;
    padding-top: 20px;
    text-decoration: none;
    transition: font-weight 0.15s ease;

    &:hover,
    &:active {
      font-weight: bold;
      color: $keyColor; // fuerza que no cambie en hover ni active
    }

    &:focus,
    &:visited {
      color: $keyColor;
      background-color: transparent;
      outline: none;
      box-shadow: none;
    }
  }
}

    
.container-fluid button span{
    background-color: $keyColor;
}
.navbar-toggler {
    background-color: $keyColor;
}
.navbar-toggler-icon {
    color: $keyColor;
}

.custom-toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $secondaryColor;
    font-size: 2rem;
    
    &:focus {
    outline: none;
    }
    
    &-icon {
    display: none;
    }
    
    &:before {
    content: '\2630';
    font-size: 2rem;
    }
    }