//Colores
$mainColor: #261806;
$secondaryColor: #D9B07E;
$keyColor: #D9D7C1;

//Fuentes
$mainFont:'Poppins', sans-serif;


//sizing
$textSm-2:1rem;
$textSm-1:1.4rem;
$textSm:1.6rem;
$textSm1:1.8rem;
$textMd:2rem;
$textMd1:2.5rem;
$textLg:3rem;
$textLg-1:3.5rem;
$textXl:4.2rem;

//font weight
$fontQ:700;
$fontP:500;
$fontBold:400;
$fontRegular:300;
